<center><img src='/img/tic tac toe.gif' style="width:200px;height:200px;"><br>
<body style= "background-color: blue">
<h2 style="font-size:20px;"><center><font color="white"> 
<br>
Choose your difficulty.<br>
<form method="post" action="play_type">
	<input type="Submit" name="play_type" value="Easy">
	<input type="Submit" name="play_type" value="Hard">
</form>
</body>
<br>